
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed&display=swap');


h1 {
  font-style: 'Fira Sans Condensed', sans-serif;
}



a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.bg-blue-services {
  background-color: #9cb6c7;
  color: white;
  padding: 47px;
  height: 315px;
  width: 422px;
  box-shadow: 1px 1px 5px 0px grey;
}

.bg-white-services1 {
  border: 3px solid #9cb6c7;
  background-color: white;
  color: black;
  padding: 47px;
  height: 315px;
  width: 422px;
  box-shadow: 1px 1px 5px 0px grey;
}

.bg-white-services2 {
  border: 3px solid #9cb6c7;
  background-color: white;
  color: black;
  padding: 47px;
  height: 315px;
  width: 422px;
  box-shadow: 1px 1px 5px 0px grey;
}

.bg-blue-services:hover{
  border: 3px solid rgba(255, 196, 192);
  background-color: rgba(255, 196, 192);
  color: white;
}

.bg-white-services1:hover{
  border: 3px solid rgba(255, 196, 192);
  background-color: rgba(255, 196, 192);
  color: white;
}

.bg-white-services2:hover{
  border: 3px solid rgba(255, 196, 192);
  background-color: rgba(255, 196, 192);
  color: white;
}

.bg-blue-contact {
  background-color:  #9cb6c7;
  padding-top: 3rem;
  height: 15rem;
  color: white;
}


.bg-feedback-services {
  background-image: url("images/small-business-services-customer's-feedback.jpg");
}

.bg-jumbotron-cover {
  background-image: url("images/small-business-cover-banner.jpg");
  height: 900px;
  border-radius: 0;
  padding-top: 35rem;
  color: white;
  background-position: center bottom;
}

.bg-jumbotron-about {
  background-image: url("images/small-business-about-banner.jpg");
  height: 400px;
  border-radius: 0;
  padding-top: 33rem;
  color: white;
  background-position: center bottom;
}

.bg-jumbotron-products {
  background-image: url("images/small-business-products-banner.jpg");
  height: 400px;
  border-radius: 0;
  padding-top: 33rem;
  color: white;
  background-position: center bottom;
}

.bg-jumbotron-product-lists {
  background-image: url("images/small-business-product-lists-banner.jpg");
  height: 400px;
  border-radius: 0;
  padding-top: 33rem;
  color: white;
  background-position: center bottom;
}

.bg-jumbotron-services {
  background-image: url("images/small-business-services-banner.jpg");
  height: 400px;
  border-radius: 0;
  padding-top: 33rem;
  color: white;
  background-position: center bottom;
}

.bg-jumbotron-contact {
  background-image: url("images/small-business-contact-banner.jpg");
  height: 400px;
  border-radius: 0;
  padding-top: 33rem;
  color: white;
  background-position: center bottom;
}

.bg-product-lists-sale {
  background-color: rgba(156, 182, 199);
  color: white;
}

.bg-about-quote {
  background-color: pink;
  padding: 6rem;
  color: white
}

.border-blue {
  border: 3px solid rgba(156, 182, 199);
  padding: 4rem;
}

.button-pink {
  background-color: rgba(255, 196, 192);
  color: white;
  padding: 5px 25px;
  border-radius: 0;
}

.button-blue {
  background-color: rgba(156, 182, 199);
  color: white;
  padding: 5px 25px;
  border-radius: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cover-products-totebag {
  background-image: url("images/small-business-cover-tote-bag.jpg");
  height: 250px;
  width: 450px;
  padding-top: 7rem;
}

.cover-products-highheels {
  background-image: url("images/small-business-cover-high-heels.jpg");
  height: 250px;
  width: 450px;
  padding-top: 7rem;
}


.cover-products-messengerbag {
  background-image: url("images/small-business-cover-messenger-bag.jpg");
  height: 250px;
  width: 450px;
  padding-top: 7rem;
}

.cover-products-sandals {
  background-image: url("images/small-business-cover-sandals.jpg");
  height: 250px;
  width: 450px;
  padding-top: 7rem;
}

.cover-products-sneakers {
  background-image: url("images/small-business-cover-sneakers.jpg");
  height: 250px;
  width: 450px;
  padding-top: 7rem;
}

.cover-products-rattanbag {
  background-image: url("images/small-business-cover-rattan-bag.jpg");
  height: 250px;
  width: 450px;
  padding-top: 7rem;
}

.cover-products-rubbershoes {
  background-image: url("images/small-business-cover-rubber-shoes.jpg");
  height: 250px;
  width: 450px;
  padding-top: 7rem;
}

.cover-products-backpack {
  background-image: url("images/small-business-cover-back-pack.jpg");
  height: 250px;
  width: 450px;
  padding-top: 7rem;
}

.cover-featured-in {
  background-color: rgba(156, 182, 199);
  height: 21rem;
  margin-top: -7rem;
}

.cover-featured-in-pink {
  background-color: rgba(255, 196, 192);
  height: 7rem;
  padding: 32px 87px;
}

div.b {
   -webkit-text-decoration-line: underline; /* Safari */
   text-decoration-line: underline;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(156, 182, 199);
   color: white;
   text-align: center;
   height: 18rem;
   padding: 57px;
}

.products-font-size {
   font-size: 20px;
   font-weight: 500;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



/* Slideshow container */
.slideshow-container {
  position: relative;
}

/* Slides */
.mySlides {
  display: none;
  padding: 2rem 30rem;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 65%;
  right: 90rem;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: gray;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 25rem;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: gray;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding-bottom: 3rem;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}


.services-order {
  background-color: white;
  box-shadow: 0 0 4px 1px grey;
  padding: 4rem 3rem;
  margin: 2rem;
  border-bottom: 8px solid rgba(255, 196, 192);
}

.vl {
  border-left: 2px solid rgba(156, 182, 199);
  height: 17rem;
}

.hr-1 {
    width: 8%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(156, 182, 199);
}
